<!DOCTYPE html>
<!--Mi primera pagina html del curso-->
<html>
    <head>
        <title>TechShop Autos</title>
        <meta charset="UTF-8">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">TechShop Autos</a>
            </div>
            <nav>
                <ul class="top-nav-link">
                    <li class="nav-link"><a href="/ejemplo2">Ejemplo 2</a></li>
                    <li class="nav-link"><a href="/iframes">Iframes</a></li>
                    <li class="nav-link"><a href="/multimedia">Multimedia</a></li>                    
                </ul>
            </nav>
        </header>

        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <main>
            <h2>Lunes</h2>
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://www.record.com.mx/sites/default/files/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg" width="300" alt=""/>
        </main>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>

    </body>
</html>