<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tech Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        
        <h1>hola soy darry</h1>
        <p>hola esto es un parrafo de prueba aunque ni idea de como actualizar con java si se con visual pero no con java :p</p>
        
        </header>
        
        <section>
            
            <h2>Esta es mi tienda</h2>
            
        </section>
        
        <footer>
            
            <h3>este es el footer</h3>
            
        </footer>
        
    </body>
</html>
