<!DOCTYPE html>
<!--Mi primera pagina html del curso-->
<html>
    <head>
        <title>TechShop Autos</title>
        <meta charset="UTF-8">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="logo">TechShop Autos DOV</div>
            <nav>
                <ul class="top-nav-link">
                    <li class="nav-link"><a href="#">Inicio</a></li>
                    <li class="nav-link"><a href="#">Mi Asiento</a></li>
                    <li class="nav-link"><a href="#">Mi Perfil</a></li>
                    <li class="nav-link"><a href="#">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h2>Categorías</h2>
            <ul>
                <li><a href="#">SUV</a></li>
                <li><a href="#">Sedán</a></li>
                <li><a href="#">Deportivos</a></li>
                <li><a href="#">Camionetas</a></li>
            </ul>
        </aside>

        <main>
            <section class="contenido-principal">
                <h1 class="titulo-principal">Esta es la tienda en línea del curso</h1>
                <p>Bienvenido a TechShop Autos, donde la elegancia y la potencia se encuentran.</p>
            </section>
        </main>

        <footer>
            <p>Todos los Derechos Reservados TechShop 2023 &copy;</p>
        </footer>
    </body>
</html>